.display {
  #canvas {
    margin-left: 5rem;
  }

  #button-wrapper {
    margin: 0.5rem 0 0 5rem;
    width: 800px;
    display: flex;
    justify-content: space-between;

    button {
      color: rgb(231, 227, 227);
      font-size: 2.5rem;
    }

    button {
      transition: background-color 0.2s ease-in-out;
    }

    button:hover {
      background-color: white;
      color: black;
    }
  }
}